.main{
    width: 100vw;
    height: 100vh;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    text-align: center;
}
.nameBlock{
    font-weight: bold;
    padding: 7vh 0 3vh 0;
    font-size: 1.2em;
}
.title{
    padding-bottom: 3vh;
    font-size: 2.1em;
}
.img{
    width: 15vw;
}
.text{
    font-size: 1.5em;
    padding: 3vh 0 10vh 0;
}
@media (max-width: 768px) {
    .main{
        padding-top: 0;
    }
    .nameBlock{
        width: 90vw;
        padding-top: 0;
    }
    .title{
        width: 90vw;
    }
    .img{
        width: 30vw;
    }
    .text{
        width: 90vw;
    }
}