.main{
    width: 100vw;
    height: auto;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
}
.title{
    text-align: center;
    padding: 15vh 0 5vh 0;
    font-size: 3.2em;
    width: 60vw;
}
.text{
    text-align: center;
    font-size: 1.4em;
    width: 40vw;
}
.position{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70vw;
    margin-top: 5vh;
    gap: 70px;
    grid-auto-rows: 1fr;
}
@media (max-width: 768px) {
    .title{
        width: 90vw;
    }
    .text{
        width: 90vw;
    }
    .position{
        grid-template-columns: 1fr;
        width: 80vw;
    }
}
@media (max-width: 1350px) {
    .title{
        width: 90vw;
        font-size: 2em;
    }
    .text{
        width: 90vw;
        font-size: 1.3em;
    }
    .position{
        grid-template-columns: 1fr;
        width: 100vw;
    }
}