.main{
    width: 100vw;
    height: auto;
    background: rgba(241,235,229,1);
    text-align: center;
    padding-bottom: 10vh;
}
.title{
    padding: 7vh 0 3vh 0;
    font-size: 2.5em;
}
.text{
    font-size: 1.75em;
}
.bolt{
    font-size: 1.6em;
}
@media (max-width: 768px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        width: 80vw;
        font-size: 1.9em;
    }
    .text{
        width: 90vw;
        font-size: 1.5em;
    }
    .bolt{
        width: 80vw;
        font-size: 1.4em;
        margin-top: 20px;
    }
}