.main{
    width: 100vw;
    height: auto;
    background: #e5f0ff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px 0 5vh 0;
    text-align: center;
}
.title{
    font-size: 2.2em;
    padding: 7vh 0 3vh 0;
}
.text{
    font-size: 1.6em;
    cursor: pointer;
    margin-bottom: 3vh;
    width: 30vw;
}
.position{
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
    .main{
        padding-bottom: 5vh;
    }
    .title, .text{
        width: 90vw;
        margin-left: 5vw;
    }
    .position{
        width: 100vw;
        margin-left: 0;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 5vh;
    }
}
@media (max-width: 1350px) {
    .main{
        padding-bottom: 5vh;
    }
    .title{
        width: 90vw;
        margin-left: 0;
        font-size: 1.8em;
    }
    .text{
        width: 90vw;
        margin-left: 0;
        font-size: 1.4em;
    }
    .position{
        width: 100vw;
        margin-left: 0;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 5vh;
    }
}