.main{
    width: 100vw;
    height: auto;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
}
.block{
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
    padding: 10vh 0;
    font-size: 2.5em;
    width: 50vw;
}
.label{
    font-size: 1.4em;
}
.input{
    width: 40vw;
    height: 6vh;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 20px;
    background: none;
    resize: vertical;
}
.input:focus{
    outline: none;
}
.area{
    padding-top: 15px;
    height: 10vh;
}
.inputChecbox{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.chec{
    width: 40vw;
    margin-bottom: 30px;
}
.position{
    position: absolute;
    width: 100vw;
    left: 0;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .title{
        padding: 5vh 0;
        width: 90vw;
    }
    .input{
        width: 80vw;
    }
    .chec{
        width: 80vw;
    }
    .gog{
        width: 90vw;
    }
}
@media (max-width: 1350px) {
    .title{
        padding: 5vh 0 10vh 0;
        width: 80vw;
        font-size: 1.5em;
    }
    .input{
        width: 90vw;
    }
    .chec{
        width: 90vw;
    }
}