.main{
    display: flex;
    padding: 50px 25px 0 25px;
}
.img{
    width: 100px;
    height: 100px;
}
.position{
    padding-left: 20px;
}
.title{
    font-size: 1.7em;
    margin-bottom: 15px;
}
.text{
    font-size: 1.2em;
}