.main{
    width: 450px;
    display: flex;
}
.svg{
    margin-right: 20px;
}
.title{
    font-size: 1.5em;
}
@media (max-width: 800px) {
    .main{
        width: 90vw;
        display: flex;
    }
    .title{
        font-size: 1.4em;
    }
}