.main{
    width: 100vw;
    height: auto;
    background: #f0f0f0;
    padding-bottom: 5vh;
}
.title{
    text-align: center;
    font-size: 2.8em;
    padding: 7vh 0;
}
.position{
    display: flex;
    justify-content: center;
}
.img{
    margin: 20px;
    object-fit: contain;
}
@media (max-width: 768px) {
    .position{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        justify-items: center;
    }
    .img{
        margin: 0;
    }
}
@media (max-width: 1350px) {
    .position{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        justify-items: center;
    }
    .img{
        margin: 0;
    }
}