footer{
    width: 100vw;
    height: auto;
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vh;
}
.position{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuBlock{
    color: white;
    font-size: 1.2em;
    margin: 20px 0;
    padding: 0 20px;
    cursor: pointer;
}
.img{
    width: 12vw;
    margin: 5vh;
}
.text{
    text-align: center;
    color: white;
    font-size: 1.2em;
}
.NavLink{
    text-decoration: none;
    color: white;
}
@media (max-width: 768px) {
    .position{
        flex-direction: column;

    }
    .menuBlock{
        margin: 15px 0;
        padding: 0;
        cursor: pointer;
    }
    .img{
        width: 50vw;
        margin: 5vh;
    }
}