.main{
    width: 40vw;
    margin: 20px;
    text-align: left;
}
.title{
    font-size: 1.8em;
}
.li{
    font-size: 1.3em;
    margin: 5px 20px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .main{
        width: 80vw;
    }
}