.main{
    width: 100vw;
    height: auto;
    padding-top: 50px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
}
.title{
    text-align: center;
    padding: 8vh 0;
    font-size: 2.5em;
}
.position{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding-bottom: 10vh;
}